.sidebar{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    font-size: 14px;
    color: grey;
}

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .topics{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.sidebar .topics:hover{
    background-color: #e6eaf1;
}


.sidebar .analysis{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.sidebar .analysis:hover{
    background-color: #e6eaf1;
}

.sidebar .analysisOptions{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 50px;
    flex-direction: column;
    background-color: #f8f9f6;
    color: inherit;
    cursor: pointer;
    text-align: center;
    font-size: inherit;
    transition: all 0.2s ease-in-out;
}

.sidebar .analysisOptions:hover{
    background-color: #e6eaf1;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}